.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: auto;
    width: 100%;
    height: 90px;
    z-index: 10;
  }
  
  .header-bg {
    background-color: transparent;
    transition: 0.5s;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .nav-menu li {
    padding: 0 1rem;
    margin: 1 rem;
  }
  
  .nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .hamburger {
    display: none;
  }
  h1:hover {
    color: yellow;
  }
  
  li :hover {
    color: #66fcf1;
    background-color: #0B0C10(20 20 20 0.5);
    padding: 1 rem;
    margin: 1 rem 0;
  }
  
  @media screen and (max-width: 1040px) {
    .nav-menu {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background: rgba(34, 31, 31, 0.9);
      position: absolute;
      top: 0;
      left: -100%;
      z-index: -3;
      transition: 0.3s;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-menu li {
      padding: 1rem 0;
    }
    .nav-menu li a {
      font-size: 2rem;
    }
    .hamburger {
      display: initial;
    }
  }
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
  }
  
  body {
    background-color: #1f2833;
  }
  
  h1,
  h4,
  p,
  a {
    color: white;
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  .logo {
    height: 5rem;
  }