.footer {
    width: 100%;
    height: 16rem;
    margin: 0;
    padding: 1rem 0;
    background: #0b0c10;
    position:auto;
    bottom: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .footer-container {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  
  .footer p {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    text-transform: small-case;
  }
  
  .left {
    height: 100;
    max-width: 100;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .location {
    display: flex;
    margin-bottom: 0.8rem;
  }
  
  .location p {
    line-height: 30px;
  }
  
  .right {
    height: 100;
    max-width: 100;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .social {
    margin-top: 1rem;
  }
  
  h4 {
    font-size: 1rem;
    padding-bottom: 0.7rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  @media screen and (max-width: 640px) {
    .footer-container {
      grid-template-columns: 1fr;
    }
  }
