 .{
    background-image:url( ../assets/intro1.jpg );
    margin:0%;
    padding:0%;
 }
 
 
 .hero-img{
    width: 100%;
    background:#2D283E ;
    height: 60vh;
    position: absolute;
}

 .hero-img::before {
    content: "";
    background-image:url( ../assets/intro1.jpg );
    width: 100%;
    height: 100vh;
    position: relative; 
    background-size: cover;
    background-position: center;
    object-fit: cover;
    size: 20rem; 
} 

 .heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .hero-img h1{
   font: size 2.4rem;   
}

.hero-img p{
    font-size: 1.4rem;
    text-align:center; 
}

@media screen and (max-width: 640px) {
    .hero-img h1{
        font-size: 2rem;

    }
} 